/* ----Media Query---- */
@media screen and (max-width: 576px) {
    /* Common Css Styles */
    .mobile-carousel {
        display: block;
    }

    .desktop-carousel {
        display: none;
    }

    .container {
        padding: 0 16px;
    }

    /* ----Navbar Section---- */
    nav .btns {
        margin-left: 0;
        margin-top: 10px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar-brand {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    .navbar>.container {
        gap: 10px;
    }

    .navbar-form {
        min-width: 90%;
        margin: 0 auto;
    }

    .navbar-form .menu span {
        display: none;
    }

    .navbar-form .menu i:first-child {
        display: none;
    }

    .input-group-text {
        padding: 10px 15px;
    }

    .input-group>.form-control {
        font-size: 14px;
    }

    /* ----Banner Section---- */
    #banner {
        margin-top: 36px;
    }

    #banner .icons-wrapper {
        flex-direction: column;
        gap: 20px;
    }

    #banner .row {
        gap: 25px;
    }

    #banner .carousel-indicators {
        right: 68%;
        bottom: 12px;
    }

    #banner .main-div .title {
        font-size: 35px;
        text-align: left;
    }

    #banner .main-div .description {
        text-align: left;
    }

    #banner .carousel-item img {
        width: 50%;
    }

    #banner .first-carousel .title,
    #banner .second-carousel .title {
        font-size: 18px;
        font-weight: 600;
    }

    #banner .first-carousel .description,
    #banner .second-carousel .description {
        font-size: 13px;
        margin-top: 6px;
        margin-bottom: 30px;
    }

    /* ----Offers Section---- */
    #offers {
        margin-top: 100px;
    }

    #offers .title {
        font-size: 36px;
    }

    #offers .description {
        font-size: 13px;
    }

    #offers .wrapper {
        flex-direction: column;
        row-gap: 20px;
    }

    #offers .card-title {
        font-size: 20px;
    }

    #offers .card-text {
        font-size: 14px;
    }

    #offers .card a {
        padding: 8px 18px;
        font-size: 15px;
    }

    #offers .card .pricing .new {
        font-size: 22px;
    }

    #offers .card .pricing .cross {
        font-size: 18px;
    }

    /* ----Flash Sale Section---- */
    #sale {
        margin-top: 100px;
    }

    #sale .title {
        font-size: 36px;
    }

    #sale .description {
        font-size: 13px;
    }

    #sale .card-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
        margin-top: 44px;
    }

    #sale .time-wrapper h2 {
        font-size: 36px;
        font-weight: 600;
    }

    #sale .pricing .new {
        font-size: 23px;
        font-weight: 600;
    }

    /* ----Book Sale Section---- */
    #book {
        margin-top: 100px;
    }

    #book .title {
        font-size: 36px;
        font-weight: 600;
    }

    #book .carousel-indicators {
        top: -70px;
        left: 50%;
    }

    #book .carousel-control-prev, #book .carousel-control-next {
        top: -79px;
    }

    #book .carousel-control-prev {
        left: 57%;
    }

    /* ----Featured Book Section---- */
    #featured {
        padding: 36px 0;
    }
    #featured .title {
        font-size: 36px;
    }

    #featured .description {
        font-size: 13px;
    }

    #featured .book-box {
        flex-direction: column;
        padding: 15px 0;
    }

    #featured .book-box .feature-img {
        width: 50px;
    }

    #featured .book-box>div:last-child {
        padding: 0 24px;
    }

    #featured h4 {
        font-size: 20px;
        font-weight: 600;
    }

    #featured .category {
        font-size: 13px;
    }

    #featured h5 {
        font-size: 16px;
        font-weight: 600;
        line-height: 8px;
        margin-top: 20px;
    }

    #featured .quote {
        font-size: 12px;
        line-height: 18px;
        margin-top: 12px;
        margin-bottom: 16px;
    }

    #featured .info h5 {
        font-size: 15px;
        margin-top: 5px;
    }

    #featured .pricing h4 .new {
        font-size: 24px;
    }

    #featured .pricing h4 cross {
        color: #AAA;
        font-family: "Cairo", serif;
        font-size: 16px;
        font-weight: 600;
        text-decoration: line-through;
    }

    #featured .pricing button {
        font-size: 13px;
        padding: 9px 12px;
    }

    #featured .hidden-books {
        display: none;
    }

    /* ----Latest News Section---- */
    #news {
        padding: 0;
    }

    #news .title {
        font-size: 36px;
    }

    #news .description {
        font-size: 13px;
    }

    #news .wrapper {
        flex-direction: column;
        row-gap: 24px;
    }

    .news-wrapper {
        row-gap: 24px;
    }

    /* ----Counter Section---- */
    #counter {
        padding: 0;
        margin: 0;
    }

    #counter .row {
        row-gap: 30px;
    }

    #counter .image {
        width: 60px;
        height: 60px;
    }

    #counter .image img {
        width: 100%;
    }

    #counter h3 {
        font-size: 30px;
        font-weight: 600;
        margin-top: 0px;
    }
}