/* font-family: "Cairo", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* ----Common Styles Bootstrap---- */
.container {
    max-width: 1620px;
}

.row>* {
    padding: 0;
}

.row {
    margin: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0;
    justify-content: flex-start;
}

/* ----Navbar Section---- */
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: start;
    /* gap: 30px; */
}

nav {
    margin-top: 15px;
}

.input-group-text i:first-child {
    margin-right: 17px;
}

.input-group-text i:last-child {
    margin-left: 17px;
    transition: 0.4s;
}

.input-group-text {
    color: #6C5DD3;
    font-family: "Cairo", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 28px;
    background-color: transparent;
    border: 0;
    position: relative;
}

.search-icon {
    padding: 18px;
}

.input-group {
    border: 1px solid #E1E1E1;
    border-radius: 15px;
}

.input-group>.form-control {
    color: #AAA;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    border: 0;
    border-right: 1px solid #E1E1E1;
}

.input-group>.form-control:focus {
    color: #6C5DD3;
}

.navbar-form {
    min-width: 60%;
}

nav .btns {
    display: flex;
    gap: 18px;
}

nav .btns .login {
    color: #6C5DD3;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 29px;
    border-radius: 14px;
    background: #F0EEFF;
    border: 0;
    transition: 0.4s;
}

nav .btns .register {
    color: #6C5DD3;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 29px;
    border-radius: 14px;
    background: #F0EEFF;
    border: 0;
    transition: 0.4s;
}

nav .btns .register i {
    margin-right: 20px;
}

nav .btns button:hover {
    color: #fff;
    background: #6C5DD3;
}

nav .menu-items {
    position: absolute;
    left: 0;
    /* top: -200px; */
    transition: 0.4s;
    background: gray;
    width: 160px;
    display: none;
}

nav .menu-items li {
    text-align: left;
}

nav .menu-items li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

nav .menu-items li:hover a {
    color: #000;
}

nav .menu-items li:hover {
    background: #fff;
}

nav .input-group-text:hover .angle {
    transform: rotate(180deg);
}

nav .input-group-text:hover .menu-items {
    top: 63px;
    display: block;
}

/* ----Banner Section---- */
#banner .row {
    align-items: end;
}

#banner .carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    right: 80%;
    bottom: 90px;
}

#banner .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #676570;
}

#banner .carousel-indicators .active {
    background: #6C5DD3;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#banner .carousel-indicators [data-bs-target] {
    border: 0;
}

#banner .main-div {
    border-radius: 24px;
    background: #9C9C9C;
    padding: 50px 30px;
}

#banner .main-div .title {
    color: #FFF;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

#banner .main-div .description {
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
}

#banner .main-div h4 {
    color: #FFF;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: -45px;
    text-align: center;
}

#banner .main-div .categories {
    color: rgba(255, 255, 255, 0.60);
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

#banner .pricing {
    border-radius: 14px;
    background: #FFF;
    max-width: 205px;
    text-align: center;
    margin: 0 auto;
}

#banner .pricing p {
    padding: 13px 0;
    margin-bottom: 0;
}

#banner .pricing .cross {
    color: #AAA;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#banner .pricing .new {
    color: #11142D;
    font-family: "Cairo", sans-seri;
    font-size: 18px;
    font-weight: 700;
    margin-left: 17px;
}

#banner .carousel-control-prev,
#banner .carousel-control-next {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#banner .carousel-control-prev-icon,
#banner .carousel-control-next-icon {
    background-size: 80%;
}

/* MediaQuery */
@media screen and (max-width: 576px) {
    nav .btns {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-form {
        min-width: 100%;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    nav .btns {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-form {
        min-width: 100%;
    }
}

@media screen and (min-width: 1200px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: space-between;
        /* gap: 30px; */
    }
}