/* font-family: "Cairo", serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

/* ----Common Styles Bootstrap---- */
.container {
    max-width: 1620px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.row>* {
    padding: 0;
}

.row {
    margin: 0;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0;
    justify-content: flex-start;
}

/* ----Navbar Section---- */
.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: start;
    /* gap: 30px; */
}

nav {
    margin-top: 15px;
}

.input-group-text i:first-child {
    margin-right: 17px;
}

.input-group-text i:last-child {
    margin-left: 17px;
    transition: 0.4s;
}

.input-group-text {
    color: #6C5DD3;
    font-family: "Cairo", serif;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 28px;
    background-color: transparent;
    border: 0;
    position: relative;
}

.search-icon {
    padding: 18px;
}

.input-group {
    border: 1px solid #E1E1E1;
    border-radius: 15px;
}

.input-group>.form-control {
    color: #AAA;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", serif;
    border: 0;
    border-right: 1px solid #E1E1E1;
}

.input-group>.form-control:focus {
    color: #6C5DD3;
}

.navbar-form {
    min-width: 60%;
}

nav .btns {
    display: flex;
    gap: 18px;
}

nav .btns .login {
    color: #6C5DD3;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 29px;
    border-radius: 14px;
    background: #F0EEFF;
    border: 0;
    transition: 0.4s;
}

nav .btns .register {
    color: #6C5DD3;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 29px;
    border-radius: 14px;
    background: #F0EEFF;
    border: 0;
    transition: 0.4s;
}

nav .btns .register i {
    margin-right: 20px;
}

nav .btns button:hover {
    color: #fff;
    background: #6C5DD3;
}

nav .menu-items {
    position: absolute;
    left: 0;
    /* top: -200px; */
    transition: 0.4s;
    background: gray;
    width: 160px;
    display: none;
}

nav .menu-items li {
    text-align: left;
}

nav .menu-items li a {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
}

nav .menu-items li:hover a {
    color: #000;
}

nav .menu-items li:hover {
    background: #fff;
}

nav .input-group-text:hover .angle {
    transform: rotate(180deg);
}

nav .input-group-text:hover .menu-items {
    top: 63px;
    display: block;
}

/* ----Banner Section---- */
#banner .row {
    align-items: center;
}

#banner .carousel-indicators {
    margin-left: 0;
    margin-right: 0;
    right: 80%;
    bottom: 90px;
}

#banner .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #676570;
}

#banner .carousel-indicators .active {
    background: #6C5DD3;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#banner .carousel-indicators [data-bs-target] {
    border: 0;
}

#banner .main-div {
    border-radius: 24px;
    background: #9C9C9C;
    padding: 50px 30px;
}

#banner .main-div .title {
    color: #FFF;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 48px;
    font-weight: 700;
}

#banner .main-div .description {
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
}

#banner .main-div h4 {
    color: #FFF;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: -45px;
    text-align: center;
}

#banner .main-div .categories {
    color: rgba(255, 255, 255, 0.60);
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
}

#banner .pricing {
    border-radius: 14px;
    background: #FFF;
    max-width: 205px;
    text-align: center;
    margin: 0 auto;
}

#banner .pricing p {
    padding: 13px 0;
    margin-bottom: 0;
}

#banner .pricing .cross {
    color: #AAA;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

#banner .pricing .new {
    color: #11142D;
    font-family: "Cairo", sans-seri;
    font-size: 18px;
    font-weight: 700;
    margin-left: 17px;
}

#banner .carousel-control-prev,
#banner .carousel-control-next {
    width: 32px;
    height: 32px;
    background: rgba(255, 255, 255, 0.18);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

#banner .carousel-control-prev-icon,
#banner .carousel-control-next-icon {
    background-size: 80%;
}

#banner .icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
}

#banner .icons-wrapper .item {
    display: flex;
    align-items: center;
    gap: 25px;
}

#banner .title {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

#banner .description {
    max-width: 267px;
    color: #AAA;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

#banner .branding {
    margin-top: 90px;
}

#banner .first-carousel .item {
    background: url("../images/banner_bg_2.webp") no-repeat center center;
    height: 443px;
    padding: 38px 90px;
}

#banner .first-carousel .title,
#banner .second-carousel .title {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 36px;
    font-weight: 700;
}

#banner .first-carousel .description,
#banner .second-carousel .description {
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 512px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#banner .img-wrapper {
    display: flex;
    gap: 15px;
}

#banner .second-carousel .item {
    background: url("../images/banner_bg_3.webp") no-repeat center center;
    height: 443px;
    padding: 38px 90px;
}

/* ----Offers Section---- */
#offers {
    margin-top: 130px;
}

#offers .title {
    color: #11142D;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

#offers .description {
    max-width: 650px;
    color: #11142D;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

#offers .wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
}

#offers .card {
    max-width: 510px;
    border-radius: 14px;
}

#offers .card:hover {
    box-shadow: 0px 25px 33px 0px rgba(108, 93, 211, 0.25);
}

#offers .card-body {
    padding: 30px 38px 30px 30px;
}

#offers .card-title {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 24px;
    font-weight: 700;
}

#offers .card-text {
    max-width: 452px;
    color: rgba(0, 0, 0, 0.80);
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 18px;
}

#offers .category {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
}

#offers .category .item {
    color: #6C5DD3;
    font-family: "Open Sans", serif;
    font-size: 12px;
    font-weight: 600;
    border-radius: 14px;
    background: #F0EEFF;
    padding: 7px 14px;
}

#offers .card .name {
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 28px;
    margin-bottom: 30px;
}

#offers .card .pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#offers .card a {
    text-decoration: none;
    color: #FFF;
    font-family: "Cairo", sans-serif;
    font-size: 18px;
    font-weight: 600;
    background: #6C5DD3;
    padding: 13px 51px;
    border-radius: 14px;
}

#offers .card a i {
    margin-right: 17px;
}

#offers .card .pricing .new {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 15px;
}

#offers .card .pricing .cross {
    color: #AAA;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: line-through;
}

#offers .arrows {
    gap: 28px;
    margin-top: 70px;
}

#offers .arrows div {
    background: #F0EEFF;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

/* ----Flash Sale Section---- */
#sale {
    margin-top: 220px;
}

#sale .title {
    color: #11142D;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

#sale .description {
    max-width: 554px;
    color: #11142D;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
}

#sale .time-wrapper {
    max-width: 505px;
    border-radius: 14px;
    border: 1px solid #F0EEFF;
    margin: 0 auto;
    margin-top: 5px;
}

#sale .time-wrapper h2 {
    color: #FF754C;
    font-family: "Cairo", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

#sale .time-wrapper p {
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}

#sale .card-wrapper {
    padding: 0 23px;
    margin-top: 79px;
}

#sale .card {
    border: 0;
}

#sale .card .card-body {
    padding: 17px;
}

#sale .card .card-title {
    color: #11142D;
    text-align: center;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

#sale .card .card-text {
    color: #6C5DD3;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
}

#sale .pricing {
    margin-top: 9px;
}

#sale .pricing .new {
    color: #6C5DD3;
    font-family: "Cairo", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

#sale .pricing .cross {
    color: #AAA;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
}

/* ----Book Sale Section---- */
#book {
    margin-top: 130px;
}

#book .title {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 50px;
    font-weight: 700;
}

#book .carousel {
    margin-top: 45px;
}

#book .carousel-indicators {
    top: -30px;
    left: 86%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    z-index: 0;
}

#book .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #676570;
}

#book .carousel-indicators .active {
    background: #6C5DD3;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

#book .carousel-indicators [data-bs-target] {
    border: 0;
}

#book .image {
    position: relative;
}

#book .carousel .image .discount {
    width: 95px;
    height: 54px;
    position: absolute;
    top: 24px;
}

#book .carousel .image .discount p {
    color: #FFF;
    background: #FF754C;
    text-align: center;
    font-family: "Open Sans", serif;
    font-size: 26px;
    font-weight: 600;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#book .carousel-inner .info {
    width: 239px;
}

#book .carousel-inner .info h4 {
    color: #11142D;
    font-family: "Cairo", serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 18px;
}

#book .carousel-inner .info p {
    color: #6C5DD3;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

#book .carousel-inner .info .rating {
    color: #FF754C;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
}

#book .carousel-inner .info .rating i {
    font-size: 22px;
}

#book .carousel-inner .info .price-rating {
    margin-top: 32px;
}

#book .carousel-inner .info .price .new {
    color: #11142D;
    font-family: "Cairo", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

#book .carousel-inner .info .price .cross {
    color: #AAA;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: line-through;
    margin-left: 8px;
}

#book .carousel-control-prev {
    left: 88%;
}

#book .carousel-control-next {
    right: 30px;
}

#book .carousel-control-prev,
#book .carousel-control-next {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #F0EEFF;
    top: -40px;
}

#book .carousel-control-prev i,
#book .carousel-control-next i {
    color: #6C5DD3;
    font-size: 20px;
}

/* ----Featured Books Section---- */
#featured {
    margin: 100px 0;
    padding: 71px 0;
    background: url("../images/featured_bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#featured .title {
    color: #11142D;
    font-family: "Cairo", serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 4px;
}

#featured .description {
    max-width: 453px;
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
}

#featured .book-box {
    max-width: 762px;
    border-radius: 14px;
    background: var(--White, #FFF);
    box-shadow: 0px 25px 33px 0px rgba(108, 93, 211, 0.25);
    padding: 39px 32px 32px 30px;
    margin-top: 60px;
}

#featured h4 {
    color: #11142D;
    font-family: "Cairo", serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 3px;
}

#featured .category {
    color: #6C5DD3;
    font-family: "Open Sans", serif;
    font-size: 16px;
    font-weight: 400;
}

#featured h5 {
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 34px;
}

#featured .quote {
    max-width: 353px;
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
    margin-bottom: 21px;
}

#featured .info p {
    color: #AAA;
    font-family: "Open Sans", serif;
    font-size: 14px;
    font-weight: 400;
}

#featured .info h5 {
    color: #11142D;
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 600;
    margin-top: 8px;
}

#featured .pricing {
    margin-top: 25px;
}

#featured .pricing h4 {
    color: #11142D;
    font-family: "Cairo", serif;
    font-size: 28px;
    font-weight: 700;
}

#featured .pricing h4 span {
    color: #AAA;
    font-family: "Cairo", serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: line-through;
}

#featured .pricing button {
    background: #6C5DD3;
    border: 0;
    border-radius: 14px;
    color: #FFF;
    font-family: "Cairo";
    font-size: 18px;
    font-weight: 700;
    padding: 18px 20px;
}

#featured .pricing button i {
    margin-right: 8px;
}

#featured .books {
    row-gap: 36px;
}


/* ----Latest News Section---- */
#news {
    margin: 100px 0;
    padding: 56px 0 128px 0;
}

#news .title {
    color: #11142D;
    font-family: "Cairo";
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

#news .description {
    max-width: 584px;
    color: rgba(0, 0, 0, 0.60);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}

#news button {
    background: #6C5DD3;
    border: 0;
    border-radius: 14px;
    color: #FFF;
    font-family: "Cairo";
    font-size: 18px;
    font-weight: 600;
    padding: 13px 24px;
    display: flex;
    align-items: center;
    gap: 45px;
}

.news-wrapper {
    margin-top: 80px;
}

.news-wrapper h4 {
    color: #11142D;
    font-family: "Cairo";
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}

.news-wrapper p {
    color: rgba(0, 0, 0, 0.50);
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-top: 12px;
}

.news-wrapper a {
    text-decoration: none;
    color: #6C5DD3;
    margin-top: 4px;
}

#news .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

#news .profile h5 {
    color: #11142D;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 600;
}

#news .profile p {
    color: #AAA;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
}

#news .item {
    max-width: 372px;

}

/* ----Media Query---- */
@media screen and (max-width: 576px) {
    nav .btns {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-form {
        min-width: 100%;
    }

    #banner .icons-wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
    nav .btns {
        margin-left: 0;
        margin-top: 10px;
    }

    .navbar-form {
        min-width: 100%;
    }

    #banner .icons-wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 15px;
        align-items: center;
    }

    /* #offers .wrapper {
        flex-direction: column;
        align-items: center;
    } */
}

@media screen and (max-width: 992px) {
    #banner .row {
        margin-top: 30px;
        gap: 20px;
    }

    #offers .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {

    .navbar>.container,
    .navbar>.container-fluid,
    .navbar>.container-lg,
    .navbar>.container-md,
    .navbar>.container-sm,
    .navbar>.container-xl,
    .navbar>.container-xxl {
        justify-content: space-between;
        /* gap: 30px; */
    }
}